@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-cinzel: 'Cinzel', serif;
}

/* Remove the dark mode preference media query */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Set a solid white background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
